{%extends "base.html" %}
{% block body %}
<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;background-color: #121212;">
    <div class="valign" style="width:100%;">
        <div class="container">
           <div class="row">
              <div class="col s12 m6 offset-m3">
                 <div class="card">
                    <div class="card-content">
                       <span class="card-title black-text">Sign In</span>
                       <form>
                          <div class="row">
                             <div class="input-field col s12">
                                {{ form.email(class="input-field")}}
                                <label name="email" class="active">Email</label>
                             </div>
                          </div>
                          <div class="row">
                             <div class="input-field col s12">
                                {{form.password(class="input-field")}}
                                <label for="password" class="active">password</label>
                             </div>
                          </div>
                       </form>
                    </div>
                    <div class="card-action">
                       <!-- <input type="submit" class="btn" value="Sign In" style="background-color: #ec008c;">  -->
                       {{form.submit(class="btn",style="background-color: #ec008c;")}}
                    </div>
                    <small class="black-text center-align">
                        Don't have an account? <a href="{{url_for('login')}}">Register here</a>
                    </small>
                 </div>
              </div>
             
           </div>
        </div>
    </div>
</div>
{% endblock%}
